<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Innomaps</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/" style="background-image: url(&quot;static/assets/img/InnomapsWhite.png&quot;);background-size: cover;width: 130px;height: 30px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive-1"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/" target="_blank">website</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/data">available data</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#tutorial">Tutorial</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/#contact">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">2. Payment Connection Tutorial</h1>
            </div>
        </div>
    </header>
    <section style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">A system without intermediaries or third-parties works thanks to the collaboration of thousands of computers around the world that mantain a decentralized network running all the time. To interact with this network without having to
                        install and setup a specialized software, you can use the services of <em>Infura</em>. They would lend you a free connection through their own computers. This tutorial shows you how to connect to <em>Infura</em>&nbsp;to enable
                        payment processes for our service.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/infura.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">1. Create an Infura account</h2>
                        <p>Visit the <em>Infura</em>&nbsp;<a href="https://infura.io/">official website</a>&nbsp;and create a free account. If you are developing more than three projects in the Ethereum network, then you would have to pay a monthly fee.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/create_project.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">2. Create a new project</h2>
                        <p>In your <em>Infura </em>account, create a new project by clicking Ethereum/ Create new project.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/endpoints.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">3. Get your endpoint URL</h2>
                        <p>You can find your HTTPS endpoint URL in the configuration tab of your new project. Remember to select the right network (Mainnet or Ropsten, check out the 6th step of this <a href="/wallettutorial">tutorial</a> if you need help).&nbsp;
                            The endpoint URL is similar to:<br><em>https://mainnet.infura.io/v3/653dabde81094ba1a2c283d8a0c98af2</em><br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="text-center display-4">Continue the tutorial&nbsp;<a href="/librarytutorial">here</a><br></h2>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Innomaps 2020</p>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
