<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Innomaps</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/" style="background-image: url(&quot;static/assets/img/InnomapsWhite.png&quot;);background-size: cover;width: 130px;height: 30px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/" target="_blank">website</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/data">available data</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#tutorial">Tutorial</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/#contact">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Get information</h1>
                <h2 class="masthead-subheading mb-0">from our internal organization data</h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#tutorial">learn how</a></div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-2">
                    <h1 class="text-center">Data</h1>
                </div>
                <div class="col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center">
                    <h5 class="text-center d-xl-flex"><em>processed is</em></h5>
                </div>
                <div class="col">
                    <h1 class="text-center">Information</h1>
                </div>
                <div class="col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center">
                    <h5 class="text-center"><em>analyzed is</em>&nbsp;</h5>
                </div>
                <div class="col">
                    <h1 class="text-center">Knowledge</h1>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Do you need private data from our organization to get useful information for you? With our system you would be able to perform any operation over hidden data (encrypted) and obtain a true and visible result for you. That is how you
                        can take the maximum advantage of our database for your activities without compromising our intelectual property.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="article-list">
        <div class="container">
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="static/assets/img/digitalization.jpg"></a>
                    <h3 class="name">Accesibility</h3>
                    <p class="description" style="color: black;">This system allows you to have access to private and/or sensitive data from an organization with great efficiency.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="static/assets/img/privacy.jpg"></a>
                    <h3 class="name">Privacy</h3>
                    <p class="description" style="color: black;">The organization data and your own computations remain private all the time. The data is encrypted and all the computations are performed in your computer.</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="static/assets/img/trust.jpg"></a>
                    <h3 class="name">Trust</h3>
                    <p class="description" style="color: black;">You can trust the system would return you the real result only for you and the organization can trust that they would receive their payment. All these without intermediaries or third-parties involved.</p>
                </div>
            </div>
        </div>
    </div>
    <section id="tutorial">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Tutorial</h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/metamask.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">1. Create your Ethereum wallet</h2>
                        <p>The Ethereum wallets are your credentials to purchase things in the Internet without the need of an intermediary by using the cryptocurrency <em>Ether</em>. If you need help creating it, check out this&nbsp;<a href="/wallettutorial">tutorial</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/infura.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">2. Set up your payment connection</h2>
                        <p>The intermediary-less platforms or decentralized platforms run over a distributed computers network around the world. To connect with this platform, you have two choices: install a Ethereum client in your computer and configure
                            it properly (it is complicated but you can check this&nbsp;<a href="https://www.trufflesuite.com/docs/truffle/reference/choosing-an-ethereum-client">tutorial</a>&nbsp;for help) or you can create an account in a service which
                            would lend you a remote client. Check this&nbsp;<a href="connectiontutorial">tutorial</a>&nbsp;to connect to the service.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/github.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">3. Download our library</h2>
                        <p>To buy and interact with the organization data in your own computer, you would need to use a specialized library and perform your computations in one of the most used programming languages for data science: Python. Check this&nbsp;
                            <a
                                href="/librarytutorial">tutorial</a>&nbsp;to download and configure the library.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/coding.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">4. Test your algorithm</h2>
                        <p>Test your computations or algorithm that would interact with the organization data. Check this&nbsp;<a href="/testtutorial">tutorial</a>&nbsp;to setup the testing process.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/digitalization.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">5. Buy access and get your result</h2>
                        <p>After you have tested and confirmed your algorithm is working with the organization data, you can purchase access to the real data and process it with your algorithm. When you finish, the system will show you the final result.
                            Check this&nbsp;<a href="/buytutorial">tutorial</a>&nbsp;to configure the purchase process.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Innomaps 2020</p>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
