<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Innomaps</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/" style="background-image: url(&quot;static/assets/img/InnomapsWhite.png&quot;);background-size: cover;width: 130px;height: 30px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive-1"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/" target="_blank">website</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/data"><strong>AVAILABLE DATA</strong><br></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#tutorial">Tutorial</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/#contact">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">3. Library Tutorial</h1>
            </div>
        </div>
    </header>
    <section style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">To interact with the organizations' encrypted data, you would have to install a specialized library in Python. The data would be encrypted using a homomorphic encryption protocol (Paillier protocol) and with out library you would be
                        able to interact with the encrypted data: perform primitive operations like addition, multiplication, divisions, subtraction and comparisons). We have chosen the Python programming language to develop the library because it is
                        one of the most used languages in data science and analytics.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/python.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">1. Install Python</h2>
                        <p>Install the easy-to-learn and most used programming language in data science to interact and process the data received from our organization. (Download the language&nbsp;<a href="https://www.python.org/downloads/">here</a>&nbsp;and
                            if you need take a crash course of data science and machine learning&nbsp;<a href="https://www.udacity.com/course/deep-learning-pytorch--ud188">here</a>).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/github.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">2. Download our library</h2>
                        <p>The required functions to ask for encrypted data, process it and ask for the result have been previously implemented in our library. To use them download this&nbsp;<a href="https://github.com/NicoSerranoP/HEsystem">repository</a>,&nbsp;decompress
                            it and put the hesystem folder in your working directory.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/dependencies.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">3. Install all dependencies</h2>
                        <p>In the downloaded repository you woul find a dependencies file (requeriments.txt) that you would have to install to guarantee the correct functioning of the library. To install it, open a terminal in your working directory and
                            execute the following command:&nbsp;</p>
                        <p>pip install -r requirements.txt&nbsp;</p>
                        <p><em>&nbsp;</em>(<a href="https://note.nkmk.me/en/python-pip-install-requirements/">additional tutorial</a>)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="text-center display-4">Continue the tutorial&nbsp;<a href="/testtutorial">here</a><br></h2>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Innomaps 2020</p>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
