<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Innomaps</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="/" style="background-image: url(&quot;static/assets/img/InnomapsWhite.png&quot;);background-size: cover;width: 130px;height: 30px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive-1"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/" target="_blank">Website</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/data">Available Data</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#tutorial">Tutorial</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="https://inno-maps.com/#contact">Contact</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">1. Wallet Tutorial</h1>
            </div>
        </div>
    </header>
    <section style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">To buy things on the Internet without intermediaries or thrid-parties involve you need a virtual wallet. Our system recevies payments on <em>Ether</em>, the second most famous cryptocurrency in the world. This tutorial describe each
                        step to create a virtual wallet and get <em>Ether.</em></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/metamask.jpg"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">1. Install Metamask</h2>
                        <p>The most easy and secure form of managing a virtual wallet is by the Metamask browser extension (available for Chrome, Brave, Firefox, Edge). Download the extension in the&nbsp;<a href="https://metamask.io/download.html">official website</a>&nbsp;and
                            install it in your browser.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/create_account.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">2. Create a virtual wallet</h2>
                        <p>By clicking on the Metamask icon in the right superior corner of your browser, you would get the required steps to create a new wallet (password, backup words, etc).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid border border-dark" src="static/assets/img/buy_ether.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">3. Buy Ether</h2>
                        <p>Metamask gives you the direct option to buy Ether with the Wyre and CoinSwitch companies. Buy the amount you consider you would need (the remaining would always be stored in your wallet).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/address_account.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">4. Get your credentials</h2>
                        <p>Go to the Account Options / Account Details section in the superior right corner next to your account name (<em>Account 1</em>&nbsp;by default). Your account address is the visible string of characters starting with <em>0x... </em>and
                            the string of characters that would appear after clicking "Export Private Key" is your private key (something like your password so be careful with it).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="static/assets/img/testnet.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Optional: Use the testnet<br></h2>
                        <p><strong>ONLY&nbsp;FOR DEVELOPERS:&nbsp;</strong>If you are configuring the purchase system and need to do some tests, you can use the testnet "Ropsten" by selecting it in the superior right corner tab for networks (<em>Mainnet</em>&nbsp;by
                            default). To fill your wallet with test Ether go to &nbsp;<a href="https://faucet.metamask.io/">https://faucet.metamask.io/</a>.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="text-center display-4">Continue the tutorial <a href="/connectiontutorial">here</a><br></h2>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Innomaps 2020</p>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
